<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geelaro.viewtrianex">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.geelaro.mysqlite.READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewact.GridActivity"
            android:label="@string/grid_icon_name"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".viewact.ListViewActivity"
            android:label="@string/listview_name">
        </activity>

        <activity android:name=".viewact.SpinnerActivity"
            android:label="@string/spinner_name">
        </activity>

        <activity android:name=".viewact.AutoTextViewActivity"
            android:label="@string/autotextview_name" >
        </activity>

        <activity android:name=".viewact.ViewFlipperActivity"
            android:label="@string/flipper_name">
        </activity>
        <activity android:name=".viewact.WebViewActivity"
             android:label="@string/webview_name">
        </activity>
        <activity android:name=".viewact.SqliteListActivity"
            android:label="@string/btn_sqlite" >
        </activity>
    </application>

</manifest>